@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .acme-background::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent radial-gradient(#bfbfbf 0.5px, transparent 0);
    background-size: 11px 11px;
    z-index: -4;
  }

  .dark .acme-background::before {
    background-image: radial-gradient(#535353 0.5px, transparent 0);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: #fff;
  background: rgba(139, 92, 224, 0.75);
}